

/*
#catalogo{
    background-color: rgb(255, 255, 255);
    height: 100px;
}

.card{
    border: 2px;
    border-color: black;
    width: 100px;
    height: 40px;
    background-color: aqua;
}

h4{
    color: antiquewhite;
}