@mixin fondoColor{
    background-color: rgb(202, 200, 199);
    padding: $border
    
}
.contacto{
    @include fondoColor;
}

.contacto1{
    display: inline-block;
    position: relative;
    margin: 25px auto;
    padding: 25px;
    border-bottom:solid $border/10 ;
    border-color: brown;

}
