.parrafoGaleria{
    color: rgb(255, 255, 255);
}
p, h5{
    background-color: black;
    @extend .parrafoGaleria
    

}
div h2{
    display: inline-block;
    position: relative;
    margin: 25px auto;
    padding: 25px;
    border-bottom:solid $border/10 ;
    border-color: brown;
}

#catalogo{
    background-color: aliceblue;
    height: 100px;
}