@import "fuentes";
@import "variableGlobal";
@import "generales";
@import "index";
@import "ubicacion";
@import "galeria";
@import "empresa";
@import "contacto";


body{
    background: linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(71,23,3,1) 100%);
}
h1, h2, h3, h4{
    font-family: 'Oswald', sans-serif;
}
 
body,html{

    overflow-x: hidden;

}
 



@media (min-width:768px){
    .fondo-nav {
        background-color: $background-color;
    }
    nav ul li a:hover{
        font-size: 25px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    } 
    

    
}




