@import "fuentes";
@import "variableGlobal";
@import "generales";
@import "index";
@import "ubicacion";
@import "galeria";
@import "empresa";



h1, h2, h3, h4{
    font-family: 'Oswald', sans-serif;
}


@media (min-width:768px){
    .fondo-nav {
        background-color: $background-color;
    }
    nav ul li a:hover{
        font-size: 25px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    } 
    

    
}



@mixin fondoColor{
    background-color: rgb(202, 200, 199);
    padding: $border
    
}
.contacto{
    @include fondoColor;
}