@import "variableGlobal";
@import "generales";
@import "parrafo";



.contactenos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (min-width:768px){
    .fondo-nav {
        background-color: $background-color;
    }
    nav ul li a:hover{
        font-size: 25px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    } 
    

    
}